@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import "tailwindcss";
@theme {
  /* Existing Colors */
  --color-primary-light: #eefabd;
  --color-primary-dark: #a0d585;
  --color-secondary-light: #6984a9;
  --color-secondary-dark: #263b6a;
}
